nav{
    background-color:red;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > .link {
    text-decoration: none;
    color: white;
    font-size: 33px;
}